body {
  color: white;
}

.button-look {
  padding: 5px;
  border-radius: 5px;
  background-color: #484848;
  color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.494);
}

.play-game-button {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(56, 116, 203);
  color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.494);
  margin-bottom: 25px;
}

.game-props {
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.description {
  padding-top: 10px;
  padding-right: 200px;
}

.individual-page {
  margin-left: 50px;
  margin-top: 15px;
}

img {
  border-radius: 10px; 
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.494);
}

.screenshots img {
  margin-top: 20px;
  margin-right: 20px;
  width: 450px;
  border-radius: 10px;
}

.screenshots {
  margin-left: -90px;
}