body {
  color: white;
}

.button-look {
  padding: 5px;
  border-radius: 5px;
  background-color: #484848;
  color: white;
}

.game-props {
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.description {
  padding-right: 25px;
}

.screenshots {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  height: 241px;
  width: 429px;
  margin: 10px;
  border-radius: 20px; 
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.494);
}

img.screenshots {
  border-radius: 20px; 
}